<app-topbar></app-topbar>
<div class="blog-container">


  <div class="search-container">
  <input [(ngModel)]="inputValue" placeholder="Suchen ..." (keydown.code.enter)="searchBlog(inputValue)">
  <button (click)=searchBlog(inputValue)>
    <img src="search.png" width="15" height="15">
  </button>
  </div>


  @if (!showNoSearchResult) {
          <span class="no-result-text">Kein Blog Eintrag für <strong>'{{ inputValue }}'</strong> gefunden!</span>
  }
  <div class="blog-items">
    @for (blog of blogTestArray; track $index) {
    @if (searchParameters.name.includes(blog.name) || searchParameters.name === "") {
      <li>
        <span>{{ blog.date }} </span>
        <a [routerLink]="['/blog',blog.name]" (click)=saveBlog(blog.name,blog.date,blog.text) >{{ blog.name }}</a>


      </li>

      }


    }

  </div>


</div>
