
<div class="container" >
    <div class="container-elements">
          @if (isMobile) {
            <div class="active">
              <button (click)="onNavToggle()">
                <img src="menu.svg"></button>
                @if (toggleNav) {
                   <a (click)="goto('home')">Home </a>
                   <a (click)="goto('about')">About </a>
                   <a (click)="goto('skills')">Skills </a>
                   <a (click)="goto('projekte')">Projekte </a>
              }
            </div>
          }@else {
            <a [ngClass]="{ 'active': selectedFragment === 'home' }" (click)="goto('home')">Home </a>
            <a [ngClass]="{ 'active': selectedFragment === 'about' }"(click)="goto('about')">About </a>
            <a [ngClass]="{ 'active': selectedFragment === 'skills' }"(click)="goto('skills')">Skills </a>
            <a [ngClass]="{ 'active': selectedFragment === 'projekte' }"(click)="goto('projekte')">Projekte </a>

          }
    </div>
</div>
