.container{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px ;
  background-color: var(--color-surface50);
  z-index: 1000;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px);
}

.container-elements{
  display: flex;
  justify-content: center;
  gap: 20px;
}




.active{
  display: flex;
  flex-direction: row;
  align-items: center;
  transition: 0.3s ease;

}
 button{
    background-color: transparent;
    color:white;
    box-shadow: none;
    position: absolute;
    border-radius: 0px;
    border: none;
    width: 40px;
    height: 50px;
    left: 80%;
  }


@media (max-width: 768px) {

  .container-elements {
    min-height: 50px;
    justify-content: left;
  }

  a {
    text-decoration: none;
    font-size: 17px;
    display: block;
    margin-right: 1px;
  }




}


a{
  color: var(--color-green);
  text-decoration: none;
  color: var(--color-text);
  font-size: 25px;
  font-size: 30px;
}

.active{
  color: var(--color-primary);
}

a:hover{
  cursor: pointer;
  color: var(--color-primary);
}






