

<app-topbar></app-topbar>

<section id="home">
<div class="greet-container">
  <pre class="fade-text">
<br>
<br>
<br>
███╗   ███╗ ██████╗ ██████╗ ██╗████████╗███████╗
████╗ ████║██╔═══██╗██╔══██╗██║╚══██╔══╝╚══███╔╝
██╔████╔██║██║   ██║██████╔╝██║   ██║     ███╔╝
██║╚██╔╝██║██║   ██║██╔══██╗██║   ██║    ███╔╝
██║ ╚═╝ ██║╚██████╔╝██║  ██║██║   ██║   ███████╗
╚═╝     ╚═╝ ╚═════╝ ╚═╝  ╚═╝╚═╝   ╚═╝   ╚══════╝

  </pre>
</div>
</section>
<section id="about">
<div class="about-container">
  <app-about class="fade-text"
  #about
  ></app-about>

</div>
</section>

 <br> <br> <br>  <br> <br> <br> <br> <br>  <br> <br>
<section id="skills">
<div class="skills-container">
  <app-skills
    class="fade-text"
    #skills>
  </app-skills>
</div>
</section>

<div class="skills-text">
  <h1 >Klicke auf ein Icon um ein Projekt mit dieser Technologie zusehen.</h1>
</div>

 <br> <br> <br>  <br> <br> <br> <br> <br> <br> <br> <br> <br> <br>

<div class="project-header">
  <h1 class="fade-text">Meine Projekte</h1>
</div>
   <br>
<section id="projekte">
<div class="project-container">
  <app-project
    [data]="projects"
    #projekte>
  </app-project>
</div>
</section>

<div class="project-header">
	<h1 class="projectInWork-header">Projekte in Arbeit & Geplant</h1>
</div>

<div class="project-container">
     <app-project
       [data]="projectsInWork"
       #projekte>
     </app-project>


</div>

<div class="footer-container">
  <footer > © Copyright Moritz Maier 2025 </footer>
</div>

<br><br>


