<app-topbar></app-topbar>
<section id="home">
  <div class="greet-container">
    <img #frontCover class="front-img" [appTilt]="5" [tiltEase]="0.1" width="1200" height="700" ngSrc="me_2.jpg" priority>
    <div class="left-text">
    <p>
    </p>
    </div>
  </div>
</section>
  <section id="about" #aboutSection [@fadeIn]="isShownAbout() ? 'visible' : 'void'">
    <div class="about-container">
     <app-about #about></app-about>
    </div>
  </section>


<!--
<section id="timeline">
  <div class="timeline-container">
    <app-timeline></app-timeline>
  </div>
</section>
-->

<section id="skills" #skillsSection [@fadeIn]="isShownSkills() ? 'visible' : 'void'" class="skills-container">
    <app-skills #skills> </app-skills>
    <div class="skills-text">
  </div>
</section>

<section id="work" #work [@fadeIn]="isShownWork() ? 'visible' : 'void'" class="work-container">
  <app-work-experience></app-work-experience>
</section>


@if (showProjectImages()) {
  <app-picture-list (close)="onCloseProjectImages()" [images]="moreProjectImages()"></app-picture-list>
}
<div class="project-header" >
  <h1 class="fade-text">Meine Projekte</h1>
</div>
<br />
<section #projectsSection [@fadeIn]="isShownProjects() ? 'visible' : 'void'" id="projekte">
  <div class="project-container">
    <app-project (showPictures)="onShowProjectImages($event)" [data]="projects" #projekte> </app-project>
  </div>
</section>

<br>
<br>
<br>
<a
  style="
    display: flex;
    justify-content: center;
    margin-top: -90px;
    margin-bottom: 50px;
  "
  href="https://github.com/Moritz344?tab=repositories"
  target="_blank"
  ><h2>Mehr Projekte</h2></a
>

<app-bottom ></app-bottom>
