
.about-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  font-size: 20px;
  overflow-wrap: break-word;
  margin: 0px;



}
@media (max-width: 768px) {
  .about-container {
    flex-direction: column;
  }

  .pfp img {
    margin-left: 20px;
  }


}

.about-header{
  margin-bottom: 0px;
  font-size: 50px;

}

.about-text{
  margin-left: 50px;


}

.icons-container{

  display: flex;

  gap: 10px;

}

.github-icon{

  opacity: 0.5;
  transition: 0.3s ease;

}

.github-icon:hover{

  opacity: 1;

}

.pfp img{
  border-radius: 12px;
  transform: rotate(-1deg);
  transition: 0.3s ease;
  border: 3px solid white;
}

.pfp img:hover{

   transform: rotate(0deg);
   transform: scale(1.02);

}

