


<div class="about-container">

  <h1>Hallo :> </h1>

    <p>
    Hi, ich bin <strong>Moritz</strong>, 17 Jahre alt, und programmiere gerne.
    Angefangen habe ich mit <strong>Python</strong>,<br> nachdem ich ein Video über Programmieren gesehen habe.
    Mittlerweile entwickle ich vor allem <br><strong>Web Apps mit Angular</strong> sowie <strong>TUI Apps</strong> und programmiere hauptsächlich in <strong>JavaScript</strong> und <strong>TypeScript.</strong> <br>

    Ich bin ein großer Fan von <strong>Linux</strong> und <strong>Neovim</strong>, und liebe es, kleine, Tools für die shell zu entwickeln. <br>

    Auf dieser Seite findest du alle Links zu meinen Projekten und social media Profilen.
  </p>

  <table>


  </table>

</div>


