

<div class="about-container">

    <div class="pfp">
      <img src="me.jpg" width="300" height="300">
    </div>
    <div class="about-text">
    <h1 class="about-header">Wer bin ich?</h1>

      <pre>Hi, mein Name ist <strong>Moritz</strong>, ich bin 17 Jahre alt und programmiere gerne. Angefangen habe ich mit <strong>Python</strong>, nachdem ich ein Video übers Programmieren gesehen habe. Ich habe mit Python kleine Spiele entwickelt, Apps und cli tools. Die Entwicklung von Apps mit Python hat mir zwar Spaß gemacht, doch es war frustrierend, und ich brauchte etwas Besseres. Deshalb entwickle ich mittlerweile vor allem <strong>Web Apps mit Angular</strong> und programmiere hauptsächlich in <strong>JavaScript</strong> und <strong>TypeScript</strong>.

    </pre>
    <div class="icons-container">
      <a href="https://github.com/Moritz344" target="_blank" >
      <img src="github.png" class="github-icon" width="50" height="50">
      </a>

      <a href="https://www.youtube.com/@pennti" target="_blank">
        <img src="yt.png"  width="50" height="50" >
      </a>

      <a href="https://x.com/iuseosu" target="_blank">
        <img src="X.png"  width="50" height="50" >
      </a>
    </div>


</div>


