
.about-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  font-size: 20px;
  overflow-wrap: break-word;
  margin: 0px;
  margin-bottom: 100px;



}
@media (max-width: 768px) {
  .about-container {
    flex-direction: column;
    font-size: 15px;
    margin-left: -35px;
  }


  .about-header {
    transform: scale(0.9);
    margin-left: -5px;
    max-width: 400px;
  }


  .about-text pre{
    width: 300px;
    text-align: justify;
    margin-left: 20px;
    margin-bottom: 20px;
  }

  .icons-container{
    margin-left: 20px;
  }



  .pfp img {
    width: 200px;
    height: 200px;
  }

  .pfp{
    margin-left: 80px;
  }


}

.about-header{
  margin-bottom: 0px;
  font-size: 50px;

}
pre{
  white-space: pre-wrap;
  margin-top: 0px;
}

.about-text{
  margin-left: 50px;
  height: 300px;
  text-align: justify;
  width: 900px;
}

.icons-container{
  display: flex;
  gap: 10px;
  margin-right: 20px;
  background-color: var(--color-surface50);
  border-radius: 10px;
  width: 200px;
  margin-top: -50px;
}

.icons-container img{
  opacity: 0.5;
  transition: 0.3s ease;
}

.icons-container img:hover{
  opacity: 1;
  transform: scale(1.02);

}


.pfp img{
  border-radius: 12px;
  transform: rotate(-1deg);
  transition: 0.3s ease;
  border: 3px solid white;
  margin-left: 20px;
}

.pfp img:hover{

   transform: rotate(0deg);
   transform: scale(1.02);

}

