:root {
  /* Grundfarben (Dark Mode) */
  --color-bg: #1e1f26;
  --color-bg-alt: #2a2b32;
  --color-surface: #2f3038;

  /* Akzentfarben */
  --color-primary: #8ba6a9;   /* sanftes Blaugrün */
  --color-secondary: #a48ea9; /* blasses Flieder */
  --color-tertiary: #c2b28f;  /* beige/goldig */

  --color-surface50: rgba(47, 48, 56, 0.3);

  /* 50% Transparenz */
  --black-low-opacity: rgba(0, 0, 0, 0.5);

  /* 20% Transparenz */
  --black-low-opacity-light: rgba(0, 0, 0, 0.2);

  --color-neutral-100: oklch(97% 0 0);
  --color-neutral-400: oklch(70.8% 0 0);
  --color-neutral-700: oklch(37.1% 0 0);
  --color-neutral-800: oklch(26.9% 0 0);
  --color-neutral-900: oklch(20.5% 0 0);
  --color-neutral-950: oklch(14.5% 0 0);

  /* Textfarben */
  --color-text: #e4e4e7;
  --color-text-muted: #a1a1aa;
  --color-text-light: #70707a;

  /* Zustände */
  --color-green: #9bbf9e;
  --color-warning: #d6c68a;
  --color-error: #c28a8a;
   --color-green-hover: #85ab89;
  --shadow-soft: 0 2px 8px rgba(0, 0, 0, 0.6);
  --border-color: #3a3b42;
  --radius: 12px;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}



body{
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    padding-right: 17px;
    box-sizing: content-box;
}

html, body {
  height: 100%;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

body::-webkit-scrollbar {
  display: none;
}



body {
  background: var(--color-bg);
  color: var(--color-text);
  font-family: 'Arial',monospace;
  margin: 0px;
}


button {
  background: var(--color-primary);
  color: var(--color-surface);
  border-radius: var(--radius);
  box-shadow: var(--shadow-soft);
}


a {
  color: var(--color-primary);   /* sanftes Blaugrün */
  text-decoration: none;
  transition: 0.3s ease;
}
a:hover{
  text-decoration: underline;
}



input{
  box-shadow: 0px 0px 0px;
  border: none;
}



html{
  scroll-behavior: smooth;
}
section{

  scroll-margin-top: 80px;

}

strong {
  color: var(--color-secondary);

}

h1{
  color: var(--color-primary);

}

p{
  font-size: 22px;

}


button.secondary {
  background: var(--color-secondary);
}

