:root {
  /* Grundfarben (Dark Mode) */
  --color-bg: #1e1f26;
  --color-bg-alt: #2a2b32;
  --color-surface: #2f3038;

  /* Akzentfarben */
  --color-primary: #8ba6a9;   /* sanftes Blaugr체n */
  --color-secondary: #a48ea9; /* blasses Flieder */
  --color-tertiary: #c2b28f;  /* beige/goldig */

  --color-surface50: rgba(47, 48, 56, 0.3);


  /* Textfarben */
  --color-text: #e4e4e7;
  --color-text-muted: #a1a1aa;
  --color-text-light: #70707a;

  /* Zust채nde */
  --color-success: #9bbf9e;
  --color-warning: #d6c68a;
  --color-error: #c28a8a;
   --color-success-hover: #85ab89;
  /* Schatten / R채nder */
  --shadow-soft: 0 2px 8px rgba(0, 0, 0, 0.6);
  --border-color: #3a3b42;
  --radius: 12px;
}
body {
  background: var(--color-bg);
  color: var(--color-text);
  font-family: Arial;
}

button {
  background: var(--color-primary);
  color: var(--color-surface);
  border-radius: var(--radius);
  box-shadow: var(--shadow-soft);
}

a {
  color: var(--color-primary);   /* sanftes Blaugr체n */
  text-decoration: none;
  transition: 0.3s ease;
}

html{
  scroll-behavior: smooth;
}
section{

  scroll-margin-top: 80px;

}

strong {
  color: var(--color-secondary);

}

h1{
  color: var(--color-primary);

}

p{
  font-size: 22px;

}

a:hover{
  color: var(--color-text);
}

button.secondary {
  background: var(--color-secondary);
}

