
.blog-container{

  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 300px;
  margin-top: 100px;


}

.back{
  position: fixed;
  left: 400px;
  top: 200px;
}
.back img {
  position: absolute;
  left: -20px;
  top: 0px;
}

.back button{
  border-radius: 0;
  background-color: transparent;
  border: 0;
  color: var(--color-warning);
  font-size: 20px;
  box-shadow: 0px 0px;

}

.back button:hover{
  cursor: pointer;
}


/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	margin-top: 10px;
    	margin-bottom: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background-color: var(--color-surface);
  	height: 1px;

}



.error{
	color: var(--color-warning);
}

.error-box{
	margin-top: 30px;
}


@media (max-width: 768px) {

  .blog-container{
    margin: 0;
    margin-top: 200px;
  }


  .header-elements h1{
    width: 270px;
  }



}


.text-container{
  width: 70%;
}
.text-container p {
  white-space: pre-line;
}


.header-elements{
  position: relative;
  align-items: left;
  width: 70%;

}

.date-text{

  opacity: 0.5;
  transition: 0.3s ease;
  cursor: pointer;
  margin-right: 620px;

}
.date-text:hover{

  opacity: 1;

}

.blog-container h1{
  margin-right: 630px;
}

.blog-container h2{
  margin-top: 0;
  margin-right: 650px;
}
