
.blog-container{

  display:flex;
  flex-direction: column;
  margin-top: 100px;
  justify-content: center;
  align-items: center;


}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	margin-top: 10px;
    	margin-bottom: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background-color: var(--color-surface);
  	height: 1px;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
}

.blog-box {
	position: fixed;
	left: 20px;
	top: 400px;
	background-color: rgba(0,0,0,0.3);
	padding: 10px;
	height: 200px;
	width: 200px;
	cursor: pointer;
	overflow: auto;
	border-radius: 10px;
	text-align: center;

}

.error{
	color: var(--color-warning);
}

.error-box{
	margin-top: 30px;
}

.blog-box span{
	display: flex;
	justify-content: center;
}

@media (max-width: 768px) {

  .blog-container{
    margin-top: 240px;
  }


  .header-elements h1{
    width: 270px;
  }

}


.text-container{
  width: 70%;
}

.header-elements{
  position: relative;
  align-items: left;
  width: 70%;

}

.date-text{

  opacity: 0.5;
  transition: 0.3s ease;
  cursor: pointer;
  margin-right: 620px;

}
.date-text:hover{

  opacity: 1;

}

.blog-container h1{
  margin-right: 630px;
}

.blog-container h2{
  margin-top: 0;
  margin-right: 650px;
}
