.container{
  padding: 10px;
  width: 100%;
  background-color: var(--black-low-opacity-light);
}


@media (max-width: 768px) {
  .container{
    visibility: hidden;
  }
}

.items{
  display: flex;
  justify-content: center;
  gap: 50px;
}

.items a:hover{
  cursor: pointer;
}
