
.project-items{
  display: inline-flex;
  flex-direction: column;
  background-color: rgba(0,0,0,0.1);
  padding: 20px;
  transition: 0.3s ease;
  border-radius: 10px;
  max-width: 500px;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
  transition: 0.3s ease;
  border: 1px solid rgba(255, 255, 255, 0.248);


}

.project-container{
  display: grid;
  grid-template-columns: repeat(2,600px);
  margin: 50px;
 
  margin-top: 0px;

  gap: 2rem 0;

  margin-left: 600px;

  justify-content: center;
  align-items: center;

  justify-items: center;
  align-items: center;



}


.badge-container{
	display: grid;
	grid-template-columns: repeat(2,1fr);
	gap: 0px;
}


@media (max-width: 768px) {


  .project-container{
    grid-template-columns: repeat(1,600px);
    margin-left: 0;

  }



  .project-items{
    max-width: 250px;
    height: 390px;

  }
  .project-items img{
    max-width: 250px;
    max-height: 200px;

  }
  .project-header{

    margin-left: 0px;
    font-size: 20px;

  }



}

app-badge{
	margin-right: 10px;
}



.project-items:hover{
  transform: scale(1.02);
}

img {
  border-radius: 10px;
}

.fade-img {
    opacity: 0;
    transition: opacity 0.5s ease-in;
}
.fade-img.loaded{
    opacity:1;
}

.project-items:hover{

  background-color: rgba(0,0,0,0.2);

}

