<div class="project-container">
  @for (p of data; track $index) {
    <div class="project">
      <div [ngClass]="{ 'project-left': p.side === 'left', 'project-right': p.side === 'right' }">
        <h1 style="margin-bottom: 0px">{{ p.name }}</h1>
        <p class="project-text"> {{ p.desc }}</p>
        <button (click)="openLink(p.link)" class="link"><img src="github.png" width="40" height="40">Github</button>
      </div>
      <div [ngClass]="{ 'project-left': p.side === 'right', 'project-right': p.side === 'left' }">
        <img
          style="border-radius: 5px;"
          (click)="openLink(p.link)"
          draggable="false"
          (load)="imageLoaded = true"
          [class.loaded]="imageLoaded"
          class="fade-img"
          [src]="p.img"
          width="500"
          height="300"
        />
      </div>
    </div>
  }
</div>
