

.skills-container{
  position: relative;
  overflow: hidden;
  width: 100vw;
  padding: 10px 0;
  justify-content: center;


}
@media (max-width: 768px) {

  .pfp img {
    margin-left: 20px;
  }

  .skills-container{
    overflow-X: scroll;
  }
  
}

.icons-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: inherit;
  gap: 8px;
}

.icons-item span {
  font-size: 14px;
  font-weight: 500;
}


.icons-list{
  display: flex;
  gap: 200px;
  width: max-content;
}

.icons-list span {
  font-size: 14px;
  font-weight: 500;
}

.icons-list img{
  transition: all 0.3s ease;
  opacity: 0.5;
  background: transparent;

}


.icons-list img:hover {
  opacity: 1;
  transform: scale(1.04);
  filter: drop-shadow(0 1 50px #9bbf9e);
}


p{
  margin-top: 0;
  font-size: 20px;

}

.skills-container h1{
  display: flex;
  font-size: 50px;
  margin-bottom: 4px;
  margin-top: 0px;
  justify-content: center;

}
