
<div class="skills-container">

  <h1>Meine Skills</h1>
  <p>Programmiersprachen,Tools und Technologien die ich benutze.</p>

  <div class="icons-list" >
    <a href="https://developer.mozilla.org/en-US/docs/Web/HTML" target="_blank">
      <img src="html.png"     width="90">
    </a>
    <a href="https://developer.mozilla.org/en-US/docs/Web/CSS" target="_blank">
      <img src="css.png"      width="90">
    </a>
    <a href="https://developer.mozilla.org/en-US/docs/Web/Javascript." target="_blank">
      <img src="js.png"       width="90">
    </a>
    <a href="https://www.python.org/downloads/" target="_blank">
      <img src="python.png"   width="90">
    </a>
    <a href="https://v17.angular.io/docs" target="_blank">
      <img src="angular.png"  width="90">
    </a>
    <a href="https://neovim.io/" target="_blank">
      <img src="nvim.png"      width="90">
    </a>
    <a href="https://git-scm.com/" target="_blank">
      <img src="git.png"      width="90">
    </a>
    <a href="https://nodejs.org/en?%3E" target="_blank">
      <img src="nodejs.png"      width="90">
    </a>
  </div>
</div>
