<app-topbar></app-topbar>


<div class="container">
  <div class="header">
    <pre>
    ██╗     ██╗███╗   ██╗██╗   ██╗██╗  ██╗    ███████╗████████╗██╗   ██╗███████╗███████╗
    ██║     ██║████╗  ██║██║   ██║╚██╗██╔╝    ██╔════╝╚══██╔══╝██║   ██║██╔════╝██╔════╝
    ██║     ██║██╔██╗ ██║██║   ██║ ╚███╔╝     ███████╗   ██║   ██║   ██║█████╗  █████╗
    ██║     ██║██║╚██╗██║██║   ██║ ██╔██╗     ╚════██║   ██║   ██║   ██║██╔══╝  ██╔══╝
    ███████╗██║██║ ╚████║╚██████╔╝██╔╝ ██╗    ███████║   ██║   ╚██████╔╝██║     ██║
    ╚══════╝╚═╝╚═╝  ╚═══╝ ╚═════╝ ╚═╝  ╚═╝    ╚══════╝   ╚═╝    ╚═════╝ ╚═╝     ╚═╝

    </pre>
  </div>

  <div class="intro-container">
    <div class="intro">
      <p>
      Ich bin ein großer fan von <strong>Linux</strong>, <strong>neovim</strong> und <strong>terminal apps</strong> (tuis,cli tools).<br>
      Hier möchte ich mein <strong>Linux setup </strong>,<strong>neovim config</strong> sowie eigene <strong>terminal apps</strong> oder
      terminal apps die ich cool finde teilen.
      </p>
    </div>
  </div>

  <div class="blocks">
    <h1 style="display:flex;justify-content:center;font-size: 40px">Dotfiles</h1>
  </div>

</div>

